.venv
.idea
Documentation
.env
.env
data
rtdetr-l.pt
ml/weights
frontend/node_modules
frontend/dist
# 1. Ignore everything in runs
runs/*
scripts/*
# 2. Un-ignore the specific parent folder `detect` so git can look inside
!runs/detect/
latex/*
# 3. Ignore everything inside `detect` (this prevents other folders like `train` from being tracked)
runs/detect/*

# 4. Un-ignore the specific folders you want inside `detect`
!runs/detect/val/
!runs/detect/val2/
logs
yolov8n.pt
runs.zip
results.xlsx

# Python bytecode
*.pyc
__pycache__/
